@import "./reset";
@import "./variables";


.allCards{

    // background-color: red;
    // border: 1px solid black;
    // height: 100%;
    // width: 100%;
    // border-radius: 0.5rem;;
}

.players{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
}




